[Desktop Entry]
Encoding=UTF-8
Name=Mrclassic
Comment=Mrclassic P2P Cryptocurrency
Comment[fr]=Mrclassic, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Mrclassic, eşten eşe kriptografik sanal para birimi
Exec=mrclassic-qt %u
Terminal=false
Type=Application
Icon=mrclassic128
MimeType=x-scheme-handler/mrclassic;
Categories=Office;Finance;
